<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>New Company Data Import</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= content_tag :p, flash[:notice], class: 'notice' if flash[:notice] %>
  <%= content_tag :p, flash[:alert], class: 'alert' if flash[:alert] %>

<%= yield %>

</body>
</html>
